In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [1]:
dataPATH = '' # folder containing data
predPATH = '' # folder containing .npy files from kaggle notebook ("tpu-roberta-large")
import os

In [8]:
for file in os.listdir(predPATH):
    probs.append(np.load(path+file))

In [10]:
y_pred = np.argmax(sum(probs), axis=1)

In [11]:
submission = pd.read_csv(dataPATH+'template_submissions.csv')
submission.Category = y_pred
submission

          Id  Category
0          0         6
1          1        20
2          2        19
3          3        19
4          4        19
...      ...       ...
54295  54295        19
54296  54296        12
54297  54297        19
54298  54298        26
54299  54299        15

[54300 rows x 2 columns]

In [12]:
submission.to_csv('ensemble_v3.csv', index=False)