In [1]:
import sys
print(f"{sys.executable}") #Vérification que le noyau est bien le bon.

/Users/antoineadam/miniforge3/envs/challenge2021/bin/python

# Calcul du déséquilibre de chaque métier (avant)
source : https://www.kaggle.com/maxhalford/fairness-metric

In [5]:
import pandas as pd

names = pd.read_csv('data/categories_string.csv')['0'].to_dict()
jobs = pd.read_csv('data/train_label.csv', index_col='Id')['Category']
jobs = jobs.map(names)
jobs = jobs.rename('job')

genders = pd.read_json('data/train.json').set_index('Id')['gender']

people = pd.concat((jobs, genders), axis='columns')

counts = people.groupby(['job', 'gender']).size().unstack('gender')

counts['disparate_impact'] = counts[['M', 'F']].max(axis='columns') / counts[['M', 'F']].min(axis='columns')
counts.sort_values('disparate_impact', ascending=False)

gender                 F      M  disparate_impact
job
dietitian           2120    168         12.619048
rapper                64    719         11.234375
nurse              11493   1129         10.179805
surgeon              890   5726          6.433708
yoga_teacher         803    141          5.695035
dj                   125    706          5.648000
software_engineer    613   3447          5.623165
paralegal            814    153          5.320261
composer             553   2842          5.139241
model               3398    717          4.739191
interior_designer    694    164          4.231707
comedian             345   1294          3.750725
architect           1314   4527          3.445205
pastor               360   1137          3.158333
chiropractor         391   1015          2.595908
filmmaker           1394   2730          1.958393
dentist             1895   3555          1.875989
photographer        5129   9517          1.855527
accountant          1129   1992          1.764393
attorney            7106  11714          1.648466
psychologist        6418   3973          1.615404
physician           4581   7026          1.533726
teacher             5420   3725          1.455034
professor          31424  38592          1.228106
personal_trainer     364    443          1.217033
painter             2131   2490          1.168466
journalist          6123   6172          1.008003
poet                2153   2139          1.006545

# Calcul du déséquilibre de chaque métier (après)
Ici : reprise du code d'en haut pour voir notre nouveau disparate impact après la prédiction sur le jeu de données test