In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [8]:
prob1 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v1/roberta-large-sub-011.npy')
prob2 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v1/roberta-large-sub-062.npy')
prob3 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v1/roberta-large-sub-103.npy')
prob4 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v1/roberta-large-sub-114.npy')
prob5 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v1/roberta-large-sub-125.npy')
prob6 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-136.npy')
prob7 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-1.npy')
prob8 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-2.npy')
prob9 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-3.npy')
prob10 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-4.npy')
prob11 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-5.npy')
prob12 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-6.npy')
prob13 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-7.npy')
prob14 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-8.npy')
prob15 = np.load('/Users/antoineadam/git/NLPChallenge2021/code/models/ensemble_v2/roberta-large-sub-9.npy')

In [9]:
probs = prob1 + prob2 + prob3 + prob4 + prob5 + prob6 + prob7 + prob8 + prob9 + prob10 + prob11 + prob12 + prob13 + prob14 + prob15
probs

array([[2.94618076e-04, 1.63934054e-03, 3.24164721e-04, ...,
        9.86276078e-04, 9.60038602e-03, 1.08663714e-03],
       [2.69723609e-02, 1.49077266e-01, 2.22049956e-03, ...,
        7.02011492e-03, 1.92873999e-02, 2.13277689e-03],
       [2.00975180e-01, 3.63206178e-01, 8.96717384e-02, ...,
        2.20562482e+00, 1.15563214e+00, 1.20764956e-01],
       ...,
       [2.61743832e-02, 1.65501866e-03, 1.98260020e-03, ...,
        4.07050163e-01, 4.28290246e-03, 5.43992384e-04],
       [1.41951931e-03, 5.46408165e-03, 1.41271812e-04, ...,
        2.00054317e-04, 7.48402328e+01, 2.21062088e-04],
       [3.02593466e-02, 4.54345904e-02, 4.36479226e-03, ...,
        7.02199876e-01, 3.50195207e-02, 1.68677373e-03]], dtype=float32)

In [11]:
PATH = '/Users/antoineadam/git/NLPChallenge2021/data/'
#
#df = pd.read_json(PATH+'train.json').set_index('Id').loc[:, 'description']
#labels = pd.read_csv(PATH+'train_label.csv', index_col=0).loc[:, 'Category'].astype('category').cat.codes
#
#data_text, data_label = df.tolist(), labels.tolist()
#trainval_texts, test_texts, trainval_labels, test_labels = train_test_split(data_text, data_label, 
#                                                                            test_size=.2, 
#                                                                            stratify=data_label, 
#                                                                            random_state=42069)
#train_texts, val_texts, train_labels, val_labels = train_test_split(trainval_texts, trainval_labels, 
#                                                                    test_size=.1, 
#                                                                    stratify=trainval_labels, 
#                                                                    random_state=42)

In [12]:
y_pred = np.argmax(probs, axis=1)

# print(classification_report(test_labels, y_pred, digits=4))

In [13]:
submission = pd.read_csv(PATH+'template_submissions.csv')
submission.Category = y_pred
submission

          Id  Category
0          0         6
1          1        20
2          2        19
3          3        19
4          4        19
...      ...       ...
54295  54295        19
54296  54296        12
54297  54297        19
54298  54298        26
54299  54299        15

[54300 rows x 2 columns]

In [15]:
submission.to_csv('ensemble_v2.csv', index=False)

In [27]:
#test_texts = pd.read_json(PATH+'test.json').set_index('Id').loc[:, 'description'].tolist()

In [35]:
#test_texts[54296]

' Formerly, she was the Coordinator for Music Education at the University of Wisconsin Stevens Point, a high-school vocal music director, elementary music specialist, a musical theatre director, organist, and pastoral musician. She holds a bachelor’s degree in Music Education from the University of Louisville, a master’s degree in Music from Colorado State University, and a Ph.D. in Music from the University of Iowa. In her spare time, Catherine enjoys distance running, writing and composing.'